@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,100,500,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css);


.title-box { margin:0 0 30px; }
.title-box .title-box_primary {
	font:600 50px/1.0em 'Raleway', sans-serif;
	text-transform:none;
	color:#323232;
	text-align:left;
	margin:0 0 30px;
	font-weight:normal; 
	text-align:center;
}

div.home{
	margin:auto;
    width:825px;
    height: 50px;
    background-color: #eee;
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 3px 3px 0px 0px;
    margin-bottom:20px;
    font-size:20px;
    font-family: Lato, sans-serif;
    color: #23ba85;
    padding-top: 10px;
}
.homePage {
	padding:10px;
    width:100%;
    text-decoration: none;
    color: #23ba85;
    padding-left: 10px;
}

div.content {
    margin:auto;
    width:825px;
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 3px 3px 0px 0px;
    margin-bottom:20px;
}


.errMessage li {
    list-style:none outside;
}

/* ARTISTS */
.addNew {
    background-color:#eee;
    padding:25px;    
}

.artist-input
{
    width:260px;
    height:20px;
    padding:10px;
    margin-right:10px;
    font-weight:bold;
    border-radius:3px;
    font-weight:bold;
    font-size:15px;
    font-family: Raleway, sans-serif;	
    vertical-align:middle;
}

.errors{
	border-color:rgb(255, 0, 0);
}

.artist-add
{
    vertical-align:middle;
    width:100px;
    height:41px;
    padding:0px;
    border:1px solid #5b5b5b;
    background-color:#5b5b5b;
    color: white;
    font-weight:bold;
    border-radius:3px;
    font:15px FontAwesome, sans-serif;	
}

.add-new 
{
    background-color:#eee;
    padding:25px;    
}

div.flashMessage {
	padding: 25px;
	font-family: Lato, sans-serif;
}

ul.artist-list
{
    padding:0px;
    margin:0px;
}

li.artist
{
    list-style:none outside;
    border-top:1px solid rgb(223, 222, 222);
}

.artist-name
{    
    padding:25px;
    color: #23ba85;
    font-size:25px;
    font-family: Lato, sans-serif;
    width:100%;
    position:relative;
    display:table-cell;
}

.artist-name a 
{
    text-decoration:none;
    color:inherit;
}

.artist-name a:hover 
{
    text-decoration:underline;
    color:inherit;
}

.artist-delete
{
    width:9%;
    position:relative;
    display:table-cell;
    vertical-align:middle;
}

.artist-delete a img 
{
    vertical-align:middle;
    margin:25px;
    opacity:0.2;
}

.artist-delete a:hover img 
{
    vertical-align:middle;
    margin:25px;
    opacity:0.5;
}

ul.tops
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

ul.tops
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

li.top
{
    list-style:none outside;
    width:400px;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 3px 3px 0px 0px;
    padding-bottom:20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align:top;
    margin:10px;
}

.tops-content 
{
    margin:auto;
    width:90%;
}

.top-title-box { margin:15px 15px 5px; }

.top-title {
	font:20px 'Raleway', sans-serif;
	text-transform:none;
	color:#323232;
	text-align:left;
	margin:0 0 30px;
	font-weight:normal;
	text-align:center;
	box-sizing: border-box;
	zoom:1;
	border-bottom: 1px solid rgb(223, 222, 222);
}

ol.top li 
{
    padding:5px;
    color: #23ba85;
    font-size:25px;
    font-family: Lato, sans-serif;
    font-weight:bold;    
}

ol.top li span
{
    padding:5px;
    color: #23ba85;
    font-size:15px;
    font-family: Lato, sans-serif;
    font-weight:normal;
}
